 <%= erb :_nav %>

<% counter = 1 %>
<% @posts.each do |post| %>
	<%= counter.to_s + "." %><%= post.title %><br>
	<% counter += 1 %>
<% end %>

<td class="subtext">
	<span id="score_8550148">1 point
	</span>
	 by 
	 <a href="user?id=esu">
	 	<font color="#3c963c">esu</font>
	 </a> 0 minutes ago  | 
	 <a href="item?id=8550148">discuss
	 </a>
	 | <a href="edit?id=8550148">edit</a>
	 | <a href="delete-confirm?id=8550148&amp;whence=%6e%65%77%65%73%74">delete
		 </a>
</td>