<table border="0">
  <tbody>
    <tr>
      <td>
        <table border="0">
          <tbody>
            <tr>
              <td>
                <img src="s.gif" height="1" width="0"></td><td valign="top">
                <center>
                  <a id="up_8550631" onclick="return vote(this)" href="vote?for=8550631&amp;dir=up&amp;by=esu&amp;auth=ebf5a5adffc1a9e65565eee739610cff033d3bf7&amp;whence=%69%74%65%6d%3f%69%64%3d%38%35%35%30%33%31%35">
                    <div class="votearrow" title="upvote">
                    </div>
                    </a>
                    <span id="down_8550631"></span>
                  </center>
                </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px; ">
                    <span class="comhead">
                      <a href="user?id=StefanPopp">StefanPopp</a> 10 hours ago  | 
                      <a href="item?id=8550631">link</a>
                    </span>
                  </div><br>
                <span class="comment">
                  <font color="#000000">Last year when i was 27 i had a strange feeling in my chest after smoking a cigarette, i didn't smoke for 4 years in row. After 2 minutes i got very nervous and i felt overall very strange.<p>Two days later i smoked another cigarette and the same feeling started again, but this time it felt like ants are running up my neck. After 5 minutes and calming down me teeth started to itch. From day to day i got more and more weaker. After 4 days i couldn't walk more then 25 meters without pain in my chest and short breathing. Thankfully one of my co-workers dad is a doctor and he said that he wants to take a look on me. After i arrived at his office i had to walk up 20 stairs and when i opened the door i've fall down on the floor.</p><p>Immediately two people took me to a room where they checked some stuff. My doctor made some tests and he said that it doesn't look like a heart attack but something is wrong with one of the lines on my ECG. He asked me if its ok to call the ambulance for doing more checks at the hospital. I said yes, please.</p><p>5 minutes later ambulance arrived and took me to the hospital. I was quite unsure if i should be happy or not as my doctor said it doesn't look like a heart attack. In the emergency room they took my blood to check if troponin is in my blood. The test was negative. I told them my history and the history of my dad who had his first heart attack with 36. I had 92 kg at 172cm. They made some other checks and everything said my heart seems to be  normal, except one line on the ECK. The doctor said i have to stay for at least 1-2 days for additional tests.</p><p>First night, they check my blood pressure shortly before i slept. 180 / 130 @ 80 bpm. They gave me some stuff to get it down to a normal value. First morning, i woke up. I had pain in my chest so hard the i was close to fall out of the bed. Rolled left, rolled right. 2 minutes and 20 clicks on the emergency button later a nurse came into my room and gave me painkillers. 10 minutes later ECK + blood test. Everything negative except that one little line in the ECK. Two hours later i they made the first test. They brought me to the ultra sonic room were they took a look on my heart. 10 Minutes later they said, everything looks normal. One day later the next test. Cycling. I had to stop after 2 minutes and a pulse rate of 120bpm. The nurse asked me if i am serious that i cant ride more. They expected me to get up to 180bpm. The doctors got nervous, my blood tests are still negative, no troponin and the ECK is also negative, except one line. They decided to make a test called echocardiography. While watching my heart the gave me a medicament to speedup my heartbeat. When they hit 120bpm i started to sweat, at 130bpm they gave my emergency medicaments to calm me down. It took almost 30 minutes and 1 lorazepam to calm me down.</p><p>After that test they put me to the intensive care unit. For the first time they found troponin in my blood. I had 10+ cables all over my body. Every 4-5 hours they made blood tests, also when i slept. They gave me blood thinner and tranquilliser. After 4 days in intensive care unit they made a cardiac catheterization and they found a 99% closed vessel after 10 minutes. Another 10 minutes later i had my first stent. The complete process took around 45 minutes always with full consciousness. I felt horrible but i was so lucky that they found the problem. One day later the doctor told me what happened and what the future is. They said i can live a normal life without the risk of a heart attack but i have to change my life radically. So i did. One year later i am doing sports multiple times per week. I lost over 15kgs, never touched a cigarette again and i feel so much healthier now.</p><p>My doctor told me after everything was over that 3-4 weeks later i would be dead without help. My heart has no damage and only 2 little 30% spots are left. As long as i live a normal life and i don't want to run marathon i wont have problems in the future. The little strange ECK line is also normal now =)</p>
                  </font>
                  <p>
                  <font size="1">
                    <u>
                      <a href="reply?id=8550631&amp;whence=%69%74%65%6d%3f%69%64%3d%38%35%35%30%33%31%35">reply</a>
                    </u>
                  </font>
                </p>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>