  <center>
    <table border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tbody>
        <tr>
        <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
          <tbody>
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="http://www.ycombinator.com">
                <img src="s.gif" width="18" height="18" style="border:1px #ffffff solid;">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                  <b><a href="news">Hacker News</a></b>
                  <img src="s.gif" height="1" width="10">
                  <a href="newswelcome.html">welcome</a>
                   | <a href="newest">new</a>
                   | <a href="threads?id=esu">threads</a>
                   | <a href="newcomments">comments</a>
                   | <a href="show">show</a>
                   | <a href="ask">ask</a>
                   | <a href="jobs">jobs</a>
                   | <a href="submit">submit</a>
                 </span>
               </td>
               <td style="text-align:right;padding-right:4px;">
                <span class="pagetop">
                  <% if login? %>
                    <a href="user?id=esu">
                      <font color="#3c963c">
                        <%= "#{username.camelize}" %>
                      </font>
                    </a>&nbsp;(1)&nbsp;|&nbsp;
                    <a href="/logout1">logout</a>
                  <%else%>
                    <a href="/signup_and_login"> login <a>
                <%end%>






                </span>
              </td>
            </tr>
          </tbody>
        </table>  
      </td>
    </tr>
    <tr style="height:10px"></tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td align="right" valign="top" class="title">1.
              </td>
              <td>
                <center>
                  <a id="up_8549790" onclick="return vote(this)" href="vote?for=8549790&amp;dir=up&amp;by=esu&amp;auth=4b482c24efd7765f4c1936a60e9f606de722af2c&amp;whence=%6e%65%77%73">
                    <div class="votearrow" title="upvote"></div>
                  </a>
                  <span id="down_8549790">
                  </span>
                </center>
              </td>
              <td class="title">
                <a href="http://www.gatesnotes.com/Health/Eradicating-Malaria-in-a-Generation">We Can Eradicate Malaria Within a Generation</a>
                <span class="comhead"> (gatesnotes.com) </span>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span id="score_8549790">23 points</span> by 
                <a href="user?id=dsr12">dsr12</a>
                 31 minutes ago  | 
                 <a href="item?id=8549790">1 comment</a>
               </td>
             </tr>
             <tr style="height:5px"></tr>
             <tr style="height:10px"></tr>
             <tr>
              <td colspan="2"></td>
              <td class="title"><a href="news?p=2" rel="nofollow">More</a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="s.gif" height="10" width="0">

  <table width="100%" cellspacing="0" cellpadding="1">
    <tbody>
      <tr>
        <td bgcolor="#ff6600"></td>
      </tr>
    </tbody>
  </table>
  <br>
</center>


  <span class="yclinks">
    <a href="newsguidelines.html">Guidelines</a>
   | <a href="newsfaq.html">FAQ</a>
   | <a href="lists">Lists</a>
   | <a href="bookmarklet.html">Bookmarklet</a>
   | <a href="dmca.html">DMCA</a>
   | <a href="newsnews.html">News News</a>
   | <a href="mailto:hn@ycombinator.com">Bugs and Feature Requests</a>
   | <a href="http://www.ycombinator.com/">Y Combinator</a>
   | <a href="http://www.ycombinator.com/apply/">Apply</a>
   | <a href="http://www.ycombinator.com/resources/">Library</a>
   | <a href="http://www.ycombinator.com/contact/">Contact</a>
  </span><br><br>
  <form method="get" action="//hn.algolia.com/">Search: 
    <input type="text" name="q" value="" size="17">
  </form><br>
  </center>
    </td></tr></tbody></table>
  </center>
